### macOS
# Finder and Files metadata
# Stop Windows and Mac from uploading folder preference junk
.DS_Store
Thumbs.db

# Thumbnails
._*

# Custom folder icons
Icon

# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Stop your text editor from uploading your personal screen layout settings
.vscode/
.idea/

# Stop live browser preview extensions from uploading local history
.history/
.live-server/
